@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Roboto:wght@100&display=swap');

body {
    position: absolute;
width: 100vh;
height: 100vh;

background: #22212C;
}

.caixa1 {
    position: absolute;
width: 348px;
height: 292px;
left: 0px;
top: 0px;

background: #302F3D;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}

.texto1 {
    position: absolute;
font-family:'Merriweather Sans';
font-weight: 700;
font-size: 23px;
line-height: 29px;
left:27px;
top: 170px;
    
color: #837e9f;
}

.texto2 {
    position: absolute;
font-family:'Merriweather Sans';
font-weight: 300;
font-size: 13px;
line-height: 16px;
left:77px;
top: 217px;

color: #837e9f;
}

.ellipse {
    position: absolute;
width: 128px;
height: 128px;
left: 100px;
top: 35px;
}

.caixa2 {
    position: absolute;
width: 348px;
height: 348px;
left: 0px;
top: 310px;

background: #302F3D;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}

.localIcon {
    position: absolute;
width: 24px;
height: 24px;
left: 40px;
top: 350px;
}

.localText {
    position: absolute;
width: 200px;
height: 16px;
left: 72px;
top: 340px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;


color: #837E9F;
}

.caseIcon {
    position: absolute;
width: 24px;
height: 24px;
left: 40px;
top: 395px;
}

.caseText {
    position: absolute;
width: 500px;
height: 16px;
left: 72px;
top: 388px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;


color: #837E9F;
}

.gitIcon {
    position: absolute;
width: 24px;
height: 24px;
left: 40px;
top: 440px;
}

.gitText {
    position: absolute;
width: 500px;
height: 16px;
left: 72px;
top: 430px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;


color: #837E9F;
}

.linkdIcon {
    position: absolute;
width: 24px;
height: 24px;
left: 40px;
top: 480px;
}

.linkdText {
    position: absolute;
width: 500px;
height: 16px;
left: 72px;
top: 473px;
    
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
    
color: #837E9F;
}

.twtIcon {
    position: absolute;
width: 24px;
height: 24px;
left: 40px;
top: 520px;
}

.twtText {
    position: absolute;
width: 500px;
height: 16px;
left: 72px;
top: 510px;
    
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
    
    
    color: #837E9F;
}

.globeIcon {
    position: absolute;
width: 24px;
height: 24px;
left: 40px;
top: 555px;
}

.globeText {
    position: absolute;
width: 500px;
height: 16px;
left: 72px;
top: 545px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;


color: #837E9F;
}

.mailIcon {
    position: absolute;
width: 24px;
height: 24px;
left: 40px;
top: 595px;
}

.mailText {
    position: absolute;
width: 500px;
height: 16px;
left: 72px;
top: 585px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;


color: #837E9F;
}

.caixa3 {
    position: absolute;
width: 348px;
height: 208px;
left: 0px;
top: 675px;

background: #302F3D;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}

.techs {
    position: absolute;
width: 121px;
height: 26px;
left: 27px;
top: 675px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;

color: #837E9F;
}

.miniBox1 {
    position: absolute;
width: 86px;
height: 24px;
left: 27px;
top: 730px;

background: #CB92B1;
border-radius: 30px;
}

.miniBox2 {
    position: absolute;
width: 86px;
height: 24px;
left: 120px;
top: 730px;

background: #CB92B1;
border-radius: 30px;
}

.miniBox3 {
    position: absolute;
width: 86px;
height: 24px;
left: 215px;
top: 730px;

background: #CB92B1;
border-radius: 30px;
}

.htmlBox {
    position: absolute;
width: 86px;
height: 11px;
left: 27px;
top: 724px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 13px;
text-align: center;

color: #000000;
}

.cssBox {
    position: absolute;
width: 86px;
height: 11px;
left: 120px;
top: 724px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 13px;
text-align: center;

color: #000000;
}

.javascriptBox {
    position: absolute;
width: 86px;
height: 11px;
left: 215px;
top: 724px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 13px;
text-align: center;

color: #000000;
}

.caixa4 {
    position: absolute;
width: 348px;
height: 349px;
left: 0px;
top: 900px;
    
background: #302F3D;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}

.expList {
    position: absolute;
width: 141px;
height: 26px;
left: 27px;
top: 900px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;

color: #837E9F;
}

.expTitle1 {
    position: absolute;
width: 175px;
height: 243px;
left: 27px;
top: 940px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;

color: #837E9F;
}

.expDate1 {
    position: absolute;
width: 175px;
height: 243px;
left: 45px;
top: 960px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;

color: #837E9F;
}

.descText1 {
    position: absolute;
width: 175px;
height: 243px;
left: 45px;
top: 975px;
    
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
    
color: #837E9F;
}

.caixa5 {
    position: absolute;
width: 348px;
height: 352px;
left: 0px;
top: 1265px;

background: #302F3D;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}

.educList {
    position: absolute;
width: 141px;
height: 26px;
left: 27px;
top: 1265px;
    
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
    
color: #837E9F;
}

.educTitle1 {
    position: absolute;
width: 175px;
height: 243px;
left: 27px;
top: 1305px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;

color: #837E9F;
}

.educDate1 {
    position: absolute;
width: 175px;
height: 243px;
left: 45px;
top: 1325px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;

color: #837E9F;
}

.educText1 {
    position: absolute;
width: 175px;
height: 243px;
left: 45px;
top: 1340px;
    
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
    
color: #837E9F;
}

.educTitle2 {
    position: absolute;
width: 300px;
height: 243px;
left: 27px;
top: 1360px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;

color: #837E9F;
}

.educDate2 {
    position: absolute;
width: 175px;
height: 243px;
left: 45px;
top: 1380px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;

color: #837E9F;
}

.educText2 {
    position: absolute;
width: 175px;
height: 243px;
left: 45px;
top: 1395px;
    
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
    
color: #837E9F;
}

.caixa6 {
    position: absolute;
width: 952px;
height: 86px;
left: 363px;
top: 0px;

background: #302F3D;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}

.myProjects {
    position: absolute;
width: 175px;
height: 243px;
left: 383px;
top: 15px;
    
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
    
color: #837E9F;
}

.seeAll {
    position: absolute;
width: 175px;
height: 243px;
left: 1200px;
top: 18px;
        
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
        
color: #837E9F;
}

.caixaProjects1 {
    position: absolute;
width: 465px;
height: 186px;
left: 363px;
top: 105px;

background: #302F3D;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}

.folderIconX {
    position: absolute;
width: 24px;
height: 24px;
left: 393px;
top: 130px;
}

.projectX {
    position: absolute;
width: 100px;
height: 24px;
left: 425px;
top: 120px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
    
color: #837E9F;
}

.projectxInfo {
    position: absolute;
width: 380px;
height: 24px;
left: 425px;
top: 150px;
    
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
        
color: #837E9F;
}

.caixaProjects2 {
    position: absolute;
width: 465px;
height: 186px;
left: 850px;
top: 105px;

background: #302F3D;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}

.folderIconY { 
    position: absolute;
width: 24px;
height: 24px;
left: 880px;
top: 130px;

}

.projectY {
    position: absolute;
width: 100px;
height: 24px;
left: 912px;
top: 120px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
    
color: #837E9F;
}

.projectyInfo {
    position: absolute;
width: 390px;
height: 24px;
left: 912px;
top: 150px;
    
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #837E9F;
}

.faviconX {
    position: absolute;
width: 24px;
height: 24px;
left: 393px;
top: 236px;
}

.favtimesX {
    position: absolute;
width: 24px;
height: 24px;
left: 425px;
top: 230px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
        
color: #837E9F;
}

.gitbranchX {
    position: absolute;
width: 24px;
height: 24px;
left: 500px;
top: 238px;
}

.gittimesX {
    position: absolute;
width: 24px;
height: 24px;
left: 530px;
top: 230px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
        
color: #837E9F;
}

.ellipseX {
position: absolute;
width: 12px;
height: 12px;
left: 680px;
top: 245px;

background: #E7DE79;
border: 2px solid #837E9F;
border-radius: 20px;
}

.techX {
    position: absolute;
width: 24px;
height: 24px;
left: 705px;
top: 245px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
            
color: #837E9F;
}

.faviconY {
    position: absolute;
width: 24px;
height: 24px;
left: 880px;
top: 236px;
}

.favtimesY {
    position: absolute;
width: 24px;
height: 24px;
left: 913px;
top: 230px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
        
color: #837E9F;
}

.gitbranchY {
    position: absolute;
width: 24px;
height: 24px;
left: 987px;
top: 238px;
}

.gittimesY {
    position: absolute;
width: 24px;
height: 24px;
left: 1020px;
top: 230px;
    
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
            
color: #837E9F;
}

.ellipseY {
    position: absolute;
width: 12px;
height: 12px;
left: 1170px;
top: 245px;
    
background: #E7DE79;
border: 2px solid #837E9F;
border-radius: 20px;
}

.techY {
    position: absolute;
width: 240px;
height: 24px;
left: 1195px;
top: 245px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
            
color: #837E9F;
}

.caixa7 {
    position: absolute;
width: 952px;
height: 86px;
left: 363px;
top: 310px;

background: #302F3D;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}

.recentPosts {
    position: absolute;
font-family:'Merriweather Sans';
font-weight: 700;
font-size: 23px;
line-height: 29px;
left: 383px;
top: 315px;
    
color: #837e9f;
}

.caixa8 {
    position: absolute;
width: 952px;
height: 240px;
left: 363px;
top: 415px;

background: #302F3D;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}

.bitEllipse {
    position: absolute;
width: 140px;
height: 140px;
left: 390px;
top: 460px;
}

.titleLink {
    position: absolute;
font-family:'Merriweather Sans';
width: 520px;
height: 30px;
font-weight: 700;
font-size: 20px;
line-height: 29px;
left: 545px;
top: 440px;

color: #837e9f;
}

.titleDate {
    position: absolute;
width: 175px;
height: 243px;
left: 545px;
top: 457px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;

color: #837E9F;
}

.description {
    position: absolute;
width: 675px;
height: 243px;
left: 545px;
top: 480px;
    
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
    
color: #837E9F;
}

.hashtag1 {
    position: absolute;
width: 50px;
height: 10px;
left: 545px;
top: 535px;
        
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
 
color: #837E9F;
}

.hashtag2 {
    position: absolute;
width: 50px;
height: 10px;
left: 635px;
top: 535px;
            
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
     
color: #837E9F;
}

.hashtag3 {
    position: absolute;
width: 50px;
height: 10px;
left: 745px;
top: 535px;
            
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
     
color: #837E9F;
}

.hashtag4 {
    position: absolute;
width: 50px;
height: 10px;
left: 833px;
top: 535px;
            
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
     
color: #837E9F;
}

.caixa9 {
    position: absolute;
width: 952px;
height: 350px;
left: 363px;
top: 675px;

background: #302F3D;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}

.aboutMe {
    position: absolute;
font-family:'Merriweather Sans';
width: 520px;
height: 30px;
font-weight: 700;
font-size: 20px;
line-height: 29px;
left: 383px;
top: 670px;
    
color: #837e9f;
}

.profile {
    position: absolute;
width: 800px;
height: 243px;
left: 383px;
top: 715px;
    
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
    
color: #837E9F;
}

.linkRocketseat {
    color: #ffffff;
}

.videoGoT{
    position: absolute;
left: 363px;
top: 1040px;
border-radius: 20px;
}